
body{
    margin:auto;
    height: auto;
    width: auto;


}
.container{ margin: 0 auto;
        width: 500px;
        height: 300px;
        padding: 50px;
        background: azure;
    font-family: "Segoe UI";
    display: flex;
    flex-direction: column;

}

/* .Table tr:nth-child(odd){
    background-color: hsl(195, 59%, 70%);

} */
#header{
    background:#9733EE;
}
.Table{
    marginL:0 auto;
    background: lavender;
}

/*input{*/
/*    border: 1px grey solid;*/
/*    border-radius: 2px;*/
/*}*/
.Table td{
    padding: 10px;
    /*border: darkgrey 1px solid;*/
    border-radius: 2px;
    box-shadow: 0px 0px 1px gray;

}
.Table tr{
    background:lavender;
}
th{
    color:white;
    padding: 10px;
    font-weight: normal;
    text-align: center;
}

table{
    background-color: ghostwhite;
    box-shadow: 1px 1px 10px grey;
}
